.categories_all .category {
  margin: 0 0 10px 0;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
  -webkit-border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;;
}

.category {
  width: 270px;
  position: relative;
}

.category .subscribe,
.category .unsubscribe {
  position: absolute;
  padding: 0 5px 0 5px;
  height: 20px;
  bottom: 10px;
  right: 5px;
  color: #fff;
  border-radius: 3px 3px 3px 3px;
  cursor: pointer;
}

.category .subscribe:hover,
.category .unsubscribe:hover {
  color: black;
}

.category .categories {
  text-align: left;
}

.category .categories:first-letter {
  text-transform: uppercase;
}

.category .subscribe {
  background: forestgreen;
}

.category .unsubscribe {
  background: red;
}