.img_comment {
  border-bottom: 1px solid #cccccc;
  margin: 0 0 20px 0;
  border-left: 3px solid #cccccc;
}

.img_comment:hover {
  border-left: 3px solid #000000;
}

.img_comment strong {
  float: left;
}

.img_comment span {
  float: right;
  color: #cccccc;
  font-size: 11px;
}

.img_comment .comment_user_name {
  border-radius: 5px 5px 0 0;
  overflow: hidden;
}

.img_comment .comment_body {
  border-radius: 0 0 5px 5px;
  color: #8a8a8a;
}

.img_comment .comment_user_name,
.img_comment .comment_body {
  padding: 5px 10px 5px 10px;
}

.comment {
  margin: 0 0 30px 0;
}

.comment_top {
  overflow: hidden;
}

.comment_top .comment_name,
.comment_top .comment_date {
  float: left;
}

.comment_top .comment_name {
  font-weight: bold;
  margin: 0 20px 0 0;
}

.comment_top .comment_date {
  font-size: 11px;
  margin: 4px 0 0 0;
}

.comment_top .comment_image {
  float: right;
}

.for_image {
  margin: 0 0 10px 0;
  width: 100%;
  position: relative;
  float: right;
  width: auto;
}

.for_image img {
  max-width: 570px;
}

.comments_form {
  padding: 15px 0 0 0;
  width: 100%;
  float: left;
}

.comments_form form {
  width: 50%;
  float: right;
}

.for_image .for_like {
  position: absolute;
  bottom: 0;
  right: 0;
  display: none;
}

.image_likes {
  margin: 0 0 30px 0;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

