.img_comment,
.comment {
  border-bottom: 1px solid #cccccc;
  margin: 0 0 20px 0;
  box-shadow: -2px 2px 7px rgba(0,0,0,0.5);
  border-radius: 5px 5px 5px 5px;
}

.img_comment:hover,
.comment:hover {
  box-shadow: -3px 3px 8px rgba(0,0,0,0.5);
}

.img_comment strong {
  float: left;
}

.img_comment span {
  float: right;
  color: #333333;
  font-size: 11px;
}

.img_comment .comment_user_name {
  border-radius: 5px 5px 0 0;
  overflow: hidden;
}

.img_comment .comment_body,
.comment .comment_body {
  color: #8a8a8a;
}

.img_comment .comment_user_name,
.img_comment .comment_body,
.comment .comment_top,
.comment .comment_body {
  padding: 5px 10px 5px 10px;
  word-wrap: break-word;
}

.comment {
  margin: 0 0 30px 0;
}

.comment_top {
  overflow: hidden;
}

.comment_top .comment_name,
.comment_top .comment_date {
  float: left;
}

.comment_top .comment_name {
  font-weight: bold;
  margin: 0 20px 0 0;
}

.comment_top .comment_date {
  font-size: 11px;
  margin: 4px 0 0 0;
}

.comment_top .comment_image {
  float: right;
}

.for_image {
  margin: 0 0 10px 0;
  width: 100%;
  position: relative;
  float: right;
  width: auto;
}

.for_image img {
  max-width: 570px;
  box-shadow: -2px 2px 10px rgba(0,0,0,0.5);
}

.comments_form,
.comment_tips {
  padding: 15px 0 0 0;
  width: 100%;
  float: left;
}

.comments_form form {
  width: 50%;
  float: right;
}

.for_image .for_like {
  position: absolute;
  bottom: 0;
  right: 0;
  display: none;
}

.image_likes {
  margin: 0 0 30px 0;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

.more_comments {
  box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
  -webkit-border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
}

