.categories
  - @categories.each do |category|
    .category
      = link_to category.title, special_category_path(category.title)
      - unless category.images.empty?
        - category.images.each do |cat_img|
          = image_tag cat_img.img_name.url(:thumb)